/*!
 * Neobeam - A modern take on LaTeX beamer | Faithful beamer version
 *
 * @theme neobeam-beamer
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
/* Primary, and variations */
--primary: #BA0C2F; /* Updated primary color */
--saturation-multiplier: 1;
--desaturation-multiplier: 1;
--brightness-multiplier: 1;
--darkness-multiplier: 2;
--color-shift-degrees: 30;

/* Background color */
--background: #FFFFFF; /* Ensure the background remains white */

}
