/*!
 * Neobeam - A modern take on LaTeX beamer | Faithful beamer version
 *
 * @theme neobeam-beamer
 * @author Embracket / mikael-ros
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 960px 720px
 */

@import "neobeam";

:root {
    /* -- Colors -- */
/* Primary, and variations */
--primary: #BA0C2F; /* Keep this as your primary color */
--saturation-multiplier: 1; /* Keep as is or adjust slightly (e.g., 0.9) */
--desaturation-multiplier: 0.8; /* Lower this to reduce desaturation */
--brightness-multiplier: 1; /* Keep as is or adjust slightly (e.g., 1.1) */
--darkness-multiplier: 1.5; /* Lower this to reduce darkness */
--color-shift-degrees: 0; /* Set to 0 to avoid shifting the color */

}
